*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(75,25,140);
}

h5{
    border: 1px solid white;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80vw;
    height: 80vh;
    border: 5px solid yellow;

    /* posibilidades de grid */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    /* alineación */
    /* ******************* */
/*     justify-items: start;
    align-items:end; */
    place-items: start center;
    grid-template-columns: repeat(3, 200px);

/*     grid-template-columns: repeat(3, 200px); */
/* al darle medidas junto con justify-content: center y align-content:center el se centra en el centro del grid, por el contrario si le damos 1fr como lo coje todo el espacio no se puede centrar en cuanto a ancho pero si a alto- */

 /*    grid-template-columns: repeat(4, 1fr); */
/*   justify-content: center;
    align-content: center; */
    place-content: center;

}

.container h5:nth-child(1){
background-color: red;
place-self: end;
/* con este place self es como decirle, align-sel y justify-self */
order: 2;
/* se pueden ordenar las cosas como queramos, que alomejor nos interesa que cuadno se cambie a otro dispositivo el numero 1 pase a donde esta el dos o viceversa  */
}


.container h5:nth-child(2){
    background-color: green;
    place-self: end;
    /* con este place self es como decirle, align-sel y justify-self */
    order: 1;
    }